<footer>
  <div class="footer-content">
    <p>&copy; 2026 Luke Vasilion / Unycross LLC. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/luke.vasilion" target="_blank" rel="noopener"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.youtube.com/@UNYcross" target="_blank" rel="noopener"
        ><i class="fab fa-youtube"></i
      ></a>
      <a href="https://instagram.com/unycross" target="_blank" rel="noopener"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://github.com/vasilion" target="_blank" rel="noopener"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</footer>
