<footer>
  <div class="footer-content">
    <p>© 2025 Unycross LLC. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/UNYcross" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.youtube.com/@UnyX-Web" target="_blank"
        ><i class="fab fa-youtube"></i
      ></a>
      <a href="https://instagram.com/unycross" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <!-- <a href="https://x.com" target="_blank"
        ><i class="fab fa-x-twitter"></i
      ></a> -->
      <a href="https://github.com/vasilion" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</footer>
