<section class="hero hero-bg">
  <div class="hero-content">
    <h1 mat-headline-1 [@fadeIn]="state" class="title">Unycross Web</h1>
    <p mat-body-1 [@fadeIn]="state">
      100% custom web solutions to accommodate
      <span class="your">YOUR</span> business needs.
    </p>
    <button
      mat-raised-button
      color="primary"
      class="cta"
      routerLink="/contact"
      [@fadeIn]="state"
    >
      Get Started
    </button>
  </div>
  <div class="hero-slider cube">
    <div class="topD"></div>
    <div>
      <span style="--i: 0"></span>
      <span style="--i: 1"></span>
      <span style="--i: 2"></span>
      <span style="--i: 3"></span>
    </div>

    <div class="cube2">
      <div>
        <span style="--i: 0"></span>
        <span style="--i: 1"></span>
        <span style="--i: 2"></span>
        <span style="--i: 3"></span>
      </div>

      <div class="cube3">
        <div class="top3"></div>
        <div>
          <span style="--i: 0"></span>
          <span style="--i: 1"></span>
          <span style="--i: 2"></span>
          <span style="--i: 3"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-teaser">
  <div class="container">
    <h2 mat-headline-2 [@fadeInUp]="state">What We Offer</h2>
    <div class="cards">
      <mat-card
        class="service-card"
        *ngFor="let service of services"
        [@fadeInUp]="state"
      >
        <mat-card-header>
          <mat-card-title>{{ service.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ service.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<section class="photo-gallery">
  <div class="container">
    <h2 mat-headline-2 [@fadeInUp]="state">Why you need a website</h2>
    <div class="gallery-grid">
      <div class="gallery-item gallery-item-wide" [@fadeInUp]="state">
        <img src="assets/benefits.png" alt="Web development process" />
        <div class="overlay">
          <span>Benefits</span>
        </div>
      </div>
      <div [@fadeInUp]="state">
        <mat-card class="testimonial-card gallery-card"
          >A business website is essential because it enhances visibility,
          builds credibility, engages customers, supports marketing efforts, and
          facilitates e-commerce, all of which are vital for staying competitive
          and meeting consumer expectations in a digital-first world.</mat-card
        >
      </div>
      <div [@fadeInUp]="state">
        <mat-card class="testimonial-card gallery-card"
          >Owning a website is vital for overcoming competitive disadvantages,
          expanding market reach, building trust, and unlocking marketing
          potential. In the current digital age, it’s a critical tool for
          businesses to thrive and adapt to consumer expectations.</mat-card
        >
      </div>
      <div class="gallery-item" [@fadeInUp]="state">
        <img src="assets/impact.png" alt="Motocross track aerial view" />
        <div class="overlay">
          <span>Impact</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <h3 mat-headline-3 [@fadeInUp]="state">What Our Clients Say</h3>
    <mat-card
      class="testimonial-card"
      *ngFor="let testimonial of testimonials"
      [@fadeInUp]="state"
    >
      <mat-card-content>
        <p>{{ testimonial.quote }}</p>
        <p class="author">- {{ testimonial.author }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section class="tagline">
  <div class="container">
    <h3 mat-headline-3 [@fadeIn]="state">Built for Speed. Designed to Win.</h3>
    <p mat-body-2 [@fadeIn]="state">
      Let's create a digital presence that leaves the competition in the dust.
    </p>
  </div>
</section>
